body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	margin: 0%;
	padding: 1em;
	font-size: 20px;
	background-color: blue;
	color: white;
	
}
.navbar {
	justify-content: space-between;
	display: flex;
	align-items: center;
	width: 100%;

}

.navbar a {
	font-size: 16px;
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	
}
.rightbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 31%;
}

.dropdown {
	display: flex;
	overflow: hidden;
 }
.dropdown .dropbar {
	font-size: 16px;
	color: white;
	border: none;
	outline: none;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0;/* Important for vertical align on mobile phones */
}
  .navbar a:hover, .dropdown:hover .dropbar {
	background-color: rgb(223, 19, 19);
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	top: 130px;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
}
.dropdown-content a:hover {
  	background-color: cyan;
}
.dropdown:hover .dropdown-content {
  	display: block;
}

.showcase {
	display: flex;
	height: 80vh;
}

.productList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 4em;
	column-gap: 2em;
	
}

.product {
	display: flex;
	flex-direction: column;
	height: 250px;
	width: 80%;
	transition-delay: 2ms;

}
.product:hover{
	transform: scale(1.2);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: 2em auto;
}
th, td {
	border: 1px solid #dddddd;
  	text-align: center;
  	padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}